// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
img {box-sizing: content-box;}

body {
  height: 100%;       
  margin: 0;        
  padding: 0;         
  background-color: rgb(87, 83, 83);
  font-family: 'Roboto', sans-serif;
}

a { 
  &:link {text-decoration: none !important;}
  &:visited {text-decoration: none !important;}
  &:active {text-decoration: none !important;}
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    justify-content: center;
    background-color: rgba(221, 218, 216, 0.774);
    margin: 44px 111px;
  }
}

.emails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 46, 46);

  &--heading {
    background-color: rgb(255, 254, 254);
    text-align: center;
    margin-bottom: 44px;
  }

  &__objects {
    display: flex;
    flex-direction: column;

    background-color: rgba(208, 218, 208, 0.377);
    padding: 33px;
    margin-right: 44px;
  }

  &__body {
    width: 400px;
    background-color: rgba(165, 42, 42, 0.397);
    padding: 22px;
    color: white;
  }
}