<aside>
  <button> <%= link_to 'Recevoir un email fictif', emails_path, method: :post, remote: true %> </button>
</aside>

<main class="emails">

  <section class="emails__objects">
    <div class="emails--heading">
      Liste des emails
    </div>
    <% @emails.each do |email| %>
      <div> 
        <%= link_to email.object, email_path(email.id), remote: true %>
      </div>  
    <% end %>
  </section>

  <section class="emails__body">
    <div class="emails--heading">

    </div>
  </section>

</main>