<aside>
  <%= link_to 'Recevoir un email fictif', emails_path, method: :post %>
</aside>

<main class="emails">

  <section class="emails__object">
    <div class="emails--heading">
      Liste des emails
    </div>
    <% @emails.each do |e| %>
      <div> 
        <%= e.object %>
      </div>  
    <% end %>
  </section>

  <section class="emails__body">
    <div class="emails--heading">
      Email sélectionné
    </div>
    emails__body
  </section>

</main>